<!DOCTYPE html>
<html lang="en" xlmns:background-image="research.jpg">
  <head>

    <title>A-RAY</title>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"
    />
    <link rel="stylesheet" href="../../static/fonts/icomoon/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/magnific-popup.css" />
    <link rel="stylesheet" href="../../static/css/jquery-ui.css" />
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap-datepicker.css" />

    <link rel="stylesheet" href="../../static/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="../../static/css/aos.css" />

    <link rel="stylesheet" href="../../static/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <style>
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
    </style>
  </head>
  <body>
    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <!-- .site-mobile-menu -->

      <div class="site-navbar-wrap">
        <div class="site-navbar-top">
          <div class="container py-3">
            <div class="row align-items-center">
              <div class="col-6">
                
              </div>
              <div class="col-6">
                <div class="d-flex ml-auto">
                  <a href="index.html#" class="d-flex align-items-center ml-auto mr-4">
                    
                    <span class="d-none d-md-inline-block"
                      >aray@gmail.com</span>
                  </a>
                  <a href="index.html#" class="d-flex align-items-center">
                   
                    <span class="d-none d-md-inline-block"
                      >+918879706543</span
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="site-navbar">
          <div class="container py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h1 class="mb-0 site-logo">
                  <a href="index.html#">A-RAY</a>
                </h1>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                      <a
                        href="index.html#"
                        class="site-menu-toggle js-menu-toggle text-white"
                        ><span class="icon-menu h3"></span></a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="site-blocks-cover overlay"
        style="background-image: url(https://www.teahub.io/photos/full/265-2658800_vintage-competition-wood-traditional-education-system-kills-creativity.jpg)";
        data-aos="fade"
        data-stellar-background-ratio="0.5"
      >
        <div class="container">
          <div
            class="row align-items-center text-center justify-content-center"
          >
            <div class="col-md-8">
              <span class="sub-text"><strong>Education System before and after Covid-19</strong></span>
              <h1>REPORT</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="post-entry">
        <a class="d-block figure">
          <div class="thumbnail">
             <img src="../../static/images/education.jpg" alt="Image" class="img-fluid border-bottom" style="height: 500px; width: 1550px"/></div></a></div>

<div class="row align-items-center text-center justify-content-center">
        <a class="p-4 text-center rounded align-items-center justify-content-center btn-grad" style="height: 1300px; width: 1000px; justify-content: center;">
            <br><strong style="color: white; font-size: 25px;">Data Visualization on correlations between various columns</strong>
            <br><br>
            <center><img src="../../static/images/1.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison between examination modes and digital tools used</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/2.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison between Number of Male and Females opting for test</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/3.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison between level of Education and their corresponding testing mode</h6>
            </center>
        </a>
      </div>
      <div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
      <div class="row align-items-center text-center justify-content-center">
        <a class="p-4 text-center rounded align-items-center justify-content-center btn-grad" style="height: 2300px; width: 1000px; justify-content: center;">
            <br><strong style="color: white; font-size: 25px;">Analysing various aspects that changed due to pandemic</strong>
            <br><br>
            <center><img src="../../static/images/4.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison of secured scores</h6>
            <br><b>
            <p style="color: white; font-family: Times new Roman;background-color: black;">As we can see, there is a significant increase in student scores during and after the pandemic. However, as we can see in the second diagram, it was difficult to achieve the highest score after the pandemic because it is challenging to attain full marks in objective based papers. In subjective based papers, however, it was easier to get close to full marks.
            And you can see from the diagrams below that fewer people failed during and after pandemic . You may be wondering how someone can fail during online exams; it could be due to absenteeism or personal issues.</p></b>
            </center>
            <br><br>
            <center><img src="../../static/images/5.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison between pass or fail ratios</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/6.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison of general percentage obtained</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/7.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison of Gadgets used for study purpose</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/8.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Comparison of time spend on gadgets for studying</h6>
            </center>
            <br><br>
      </a>
      </div>
      <div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
      <div class="row align-items-center text-center justify-content-center">
        <a class="p-4 text-center rounded align-items-center justify-content-center btn-grad" style="height: 3200px; width: 1000px; justify-content: center;">
            <br><strong style="color: white; font-size: 25px;">Analysing mental and physical health of students</strong>
            <br><br>
            <center><img src="../../static/images/9.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Prolonged used of digital tools results in social distancing and isolations</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/10.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>University learning contributes to strenthning the social personality of students</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/11.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Staying home for long periods of time leads to lethargy and laziness</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/12.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Staying home has decreased physical activities of students</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/13.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Measures of lockdown,closures, and quarantine, brought by Covid-19 caused</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/14.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>The volume of assignments via e-learning led to confusion, frustration and poor performance</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/15.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Face-to-face interaction contributes significantly to boosting students' academic achievement</h6>
            </center>
            <br><br>
            <center><img src="../../static/images/16.png" alt="Image" class="img-fluid center" style="border: 5px solid #171717" /><br><br>
            <h6>Taking quizzes and exams online was not comfortable and made me anxious</h6>
            </center>
            <br><br>
        </a>
      </div>

<footer class="site-footer">
        <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <p>Developed By Alefiya Sanawadwala</p>
  </div>
  <!-- Copyright -->
      </footer>
    </div>



    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../../static/js/jquery-ui.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/owl.carousel.min.js"></script>
    <script src="../../static/js/jquery.stellar.min.js"></script>
    <script src="../../static/js/jquery.countdown.min.js"></script>
    <script src="../../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/js/bootstrap-datepicker.min.js"></script>
    <script src="../../static/js/aos.js"></script>
    <script src="https://kit.fontawesome.com/2622118687.js" crossorigin="anonymous"></script>

    <script src="../../static/js/main.js"></script>
    </nav>
  </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>